*{
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2{
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-around;
}

.productsRegister{
    border: 1px solid gray;
    padding: 3rem;
    margin: 1rem;
    width: 70vw;
}
/* 
#productForm{
    border: 1px solid gray;
    padding: 3rem;
    margin: 1rem;
    width: 70vw;
} */

.form-control{
    width: 10vw;
}

.tablaProductos{
    border: 1px solid gray;
    padding: 3rem;
    margin: 1rem;
    width: 70vw;
}