<!-- Table to print registers -->
<section class="tablaProductos">

    <h2>Base de datos de productos registrados.</h2>

    <table class="table table-striped" id="showProductsTable">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Producto</th>
                <th scope="col">Precio</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>

        <!-- Empty dynamic body to add each register -->
        <tbody>

        </tbody>


    </table>
</section>
