<!-- Section to add new products -->
<section class="productsRegister">

    <h2>Registro de nuevos productos</h2>

    <form id="productForm">
        <div class="mb-3">
            <label for="id" class="form-label">ID</label>
            <input id="id" type="number" class="form-control"  >
        </div>

        <div class="mb-3">
            <label for="producto" class="form-label">Producto</label>
            <input id="producto" type="text" class="form-control" >
        </div>
        <div class="mb-3">
            <label for="precio" class="form-label">Precio</label>
            <input id="precio" type="number" class="form-control" >
        </div>
        <div class="mb-3">
            <label for="cantidad" class="form-label">Cantidad</label>
            <input id="cantidad" type="number" class="form-control" >
        </div>

        <button type="submit" class="btn btn-primary">Crear</button>
    </form>

</section>
